<h1>There are a <%= @users.count%> user</h1>
<table>
    <thead>
        <tr>
                <td>
                    username/email/phone
                </td>
                <td>
                    Feedback
                </td>
    </tr>
    </thead>
    <% @users.each do |user|%>
    <tbody>
        <tr>
            <td>
                <%= user.username %>/
            </td>
            <td>
                <%= user.email %>/
            </td>
            <td>
                <%= user.phone%>
            </td>
            <td>
            <a href="/users/<%= user.id%>">Show</a>
            </td>
            
            <td>
                <a href="/users/<%= user.id %>" data-method="delete" data-confirm="are you sure?">Delete</a>
            </td>

        </tr>
    </tbody>
    <%end%>
</table>
<a href="/users/new">New User</a>
